<a href="https://colab.research.google.com/github/TK-Problem/Python-mokymai/blob/master/Scripts/linkedin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#@title Importuoti paketus

# duomenų atsisiuntimui per API
import requests

# reikalinga atsiųstą tekstą paversti į json/dict
import json

# paketai dirbti su skaičiais ir duomenimis
import pandas as pd
import numpy as np

Norint atsisųsti LinkedIn darbo pasiųlymų duomenis, reikia:

1. užsiregistruoti rapid api svetainėje https://rapidapi.com/.
2. užsisakyti nemokamą planą https://rapidapi.com/letscrape-6bRBa3QguO5/api/jsearch/ . Leidžia nemokamai tlikti 50 paieškas/užklausas per mėnesį.
3. išsisaugoti savo API raktą, jo reikės atliekant užklausas.

In [2]:
#@title Atsisiųsti duomenis
# paieškos žodis
SEARCH = 'python lithuania' # @param {type:"string"}
# pasiimti iš RapidAPI
API = '' # @param {type:"string"}

assert API != '', "Įveskite API raktą"

# kiek puslapių ieškoti
# Note: requests for more than one page and up to 10 pages are charged x2 and
# requests for more than 10 pages are charged 3x.
NUM_PAGES = '10' # @param {type:"string"}

# API url
url = "https://jsearch.p.rapidapi.com/search"

# generate query string
querystring = {"query": SEARCH,"num_pages": NUM_PAGES}

# create header for
headers = {
	"X-RapidAPI-Key": API,
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

# get response
response = requests.request("GET", url, headers=headers, params=querystring)

In [3]:
#@title Suformatuoti duomenis
# convert to json
output = json.loads(response.text)

# convert to pandas DataFrame
df = pd.DataFrame(output['data'])

# print message
print(f'Pagal paiešką "{SEARCH}" buvo rasti {len(df)} darbo skelbimai.')

# send message
df.head()

Pagal paiešką "python lithuania" buvo rasti 43 darbo skelbimai.

,employer_name,employer_logo,employer_website,employer_company_type,job_publisher,job_id,job_employment_type,job_title,job_apply_link,job_apply_is_direct,...,job_salary_currency,job_salary_period,job_highlights,job_job_title,job_posting_language,job_onet_soc,job_onet_job_zone,job_naics_code,job_naics_name,job_occupational_categories
0,Girteka,https://clean-trucking.eu/wp-content/uploads/2...,http://www.girteka.eu,Logistics,LinkedIn,AYrGBHb14Q8AAAAAAAAAAA==,FULLTIME,Python Developer,https://lt.linkedin.com/jobs/view/python-devel...,False,...,None,None,{},None,en,15113200,4,48851,Freight Transportation Arrangement,NaN
1,Adroiti Technologies,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,None,LinkedIn,5vb_zV1WqJ0AAAAAAAAAAA==,FULLTIME,Python Developer,https://lt.linkedin.com/jobs/view/python-devel...,False,...,None,None,{},None,en,15113200,4,NaN,NaN,NaN
2,Satalia,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://www.satalia.com,None,LinkedIn,5a82dA-6K_cAAAAAAAAAAA==,FULLTIME,Python Developer,https://lt.linkedin.com/jobs/view/python-devel...,False,...,None,None,{},None,en,15113200,4,NaN,NaN,NaN
3,Perfection42,https://res.cloudinary.com/crunchbase-producti...,http://www.perfection42.com,None,LinkedIn,VMdE_oB2wfIAAAAAAAAAAA==,FULLTIME,Python Engineer,https://lt.linkedin.com/jobs/view/python-engin...,False,...,None,None,{},Engineer,en,15113200,4,NaN,NaN,NaN
4,Canonical,https://upload.wikimedia.org/wikipedia/commons...,http://www.canonical.com,Information,LinkedIn,lXktIqoybDIAAAAAAAAAAA==,FULLTIME,Software Engineer - Python and K8s,https://lt.linkedin.com/jobs/view/software-eng...,False,...,None,None,{},Software engineer,en,15113200,4,511210,Software Publishers,NaN

# Išsaugoti duomenis

Atkomentuoti eilutes su `CTR + /` ir išsaugoti norimu formatu.

Norint atsisiųsti duomenis lokaliai paspauskite ant dešinėje pusė esančios "Files" ikonos ir atsisiųskite norimą failą. Jei to nepadarysite, failai bus ištrinti uždarius google colab.

![image info](https://i.stack.imgur.com/mYWnb.png)

In [4]:
#@title Duomenų formatas

EXCEL = True #@param {type:"boolean"}
CSV = True #@param {type:"boolean"}

# excel formatu
if EXCEL:
  df.to_excel(f"darbai.xlsx", index = False)
# .csv formatu
if CSV:
  df.to_csv(f"darbai.csv", index = False)