<a href="https://colab.research.google.com/github/TK-Problem/Python-mokymai/blob/master/Python-pagrindai/atsakymai_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pamoka 1**

## Užduotis 2.1

Sukurti tekstinį kintamąjį/kintamuosius panaudojant Jūsų vardą ir pavardę.

*Pateikiu du atsakymo variantus.*

In [1]:
# variantas 1
vardas = "Vardas"
pavarde = "Pavardė"

In [2]:
# variantas 2
name = "Vardas Pavardė"

## Užduotis 2.2

Naudojant `print()` funkciją atspausdinti paskutines 5 kintamojo `txt` simbolius.

In [3]:
# atspausdinti šito kintamojo paskutinias 5 raides
txt = "ABCD 1234 EDCBA"

# variantas 1
txt = txt[-5:]
print(txt)

EDCBA

In [4]:
# atspausdinti šito kintamojo paskutinias 5 raides
txt = "ABCD 1234 EDCBA"

# variantas 2
print(txt[-5:])

EDCBA

## Užduotis 2.3

Naudojant `print()` funkciją atspausdinti abu kintamuosius. Pirmas kintamasis turi būti tik iš mažųjų raidžių, o antras iš didžiųjų.

Atsakymo pavyzdys:

`"petras PETRAITIS"`

In [5]:
t_1 = 'pEtras'
t_2 = 'PETraTIs'

# variantas 1
print(t_1.lower(), t_2.upper())

petras PETRATIS

In [6]:
t_1 = 'pEtras'
t_2 = 'PETraTIs'

# variantas 2
ans = t_1.lower() + " " + t_2.upper()
print(ans)

petras PETRATIS

## Užduotis 2.4

**(sudėtingesnė)** rasti internete metodą, kuris žodžių pirmas raides paverstų didžiosiomis. Pritaikyti rastą metodą ant `txt` kintamojo.

Atsakymo pavyzdys:

`"Jonas Jonaitas"`

In [7]:
txt = "JONAS jonaitis"
# variantas 1
print(txt.title())

Jonas Jonaitis

In [8]:
txt = "JONAS jonaitis"
# variantas 2
print(txt[0] + txt[1:6].lower() + txt[6].upper() + txt[7:])

Jonas Jonaitis

## Užduotis 3.1

Lietuvoje 2021 buvo suskaičiuoti 2784279 gyventojai. Lietuvos Respublikos plotas yra 65300 km^2.

Kiek vidutiniškai yra gyventojų vienam kvadratiniame kilometre?

In [9]:
# duomenys (nekeisti)
gyv_skaicius = 2784279
plotas = 65300

# įvesti savo formulę, vieta Jūsų kodui
tankis = gyv_skaicius / plotas

# suapvalinkite savo rezutaltą iki šimtųjų
tankis = round(tankis, 2)

# atspausdina atsakymą (šitos eilutės nekeisti)
print(f'Lietuvoje yra {tankis} žm./km^2')

Lietuvoje yra 42.64 žm./km^2

In [10]:
# duomenys (nekeisti)
gyv_skaicius = 2784279
plotas = 65300

# variantas 2 tik trumpiau

# atspausdina atsakymą (šitos eilutės nekeisti)
print(f'Lietuvoje yra {round(gyv_skaicius / plotas, 2)} žm./km^2')

Lietuvoje yra 42.64 žm./km^2

## Užduotis 3.2

Autobuse telpa 87 žmonės. Tačiau važiuoti norinčių yra 93. Naudodami liekanos operatorių, apskaičiuokite, kiek žmonių netilps?

In [11]:
# vieta Jūsų kodui, su ALT + ENTER galite daugiau eilučių susikurti
ans = 93 % 87
ans

6

## Užduotis 3.3

Bėgimas truko 12345 sekundes. Kiek šis bėgimas truko minutėmis, valandomis ir dienomis? Atsakymus suapvalinkite iki dešimčių.

In [12]:
begimo_trukme_sec = 12345

# vieta Jūsų kodui
begimo_trukme_minutemis = begimo_trukme_sec / 60
begimo_trukme_valandomis = begimo_trukme_minutemis / 60
begimo_trukme_dienomis = begimo_trukme_valandomis / 24

# suapvalinkite atsakimus iki 10-tųjų
begimo_trukme_minutemis = round(begimo_trukme_minutemis, 1)
begimo_trukme_valandomis = round(begimo_trukme_valandomis, 1)
begimo_trukme_dienomis = round(begimo_trukme_dienomis, 1)

# nekeisti žemiau esančio kodo
print('Bėgimas truko:')
print(f"{begimo_trukme_minutemis} minutes.")
print(f"{begimo_trukme_valandomis} valandas")
print(f"{begimo_trukme_dienomis} dienos")

Bėgimas truko:
205.8 minutes.
3.4 valandas
0.1 dienos

In [13]:
begimo_trukme_sec = 12345

# vieta Jūsų kodui
begimo_trukme_minutemis = begimo_trukme_sec / 60
begimo_trukme_valandomis = begimo_trukme_minutemis / 60
begimo_trukme_dienomis = begimo_trukme_valandomis / 24

# alternatyvus atsakymas naudojant teoriją iš pirmos pamokos galo
print('Bėgimas truko:')
print(f"{begimo_trukme_minutemis:.1f} minutes.")
print(f"{begimo_trukme_valandomis:.1f} valandas")
print(f"{begimo_trukme_dienomis:.1f} dienos")

Bėgimas truko:
205.8 minutes.
3.4 valandas
0.1 dienos

## Užduotis 4.1

Atsakykite į klausimą naudodamiesi `boolean` operatoriumi - ar sakinyje `Meška paslydo` yra žodis `meška`?

In [14]:
# nekeist kintamojo vertės
sakinys = "Meška paslydo"

# vieta Jūsų kodui
atsakymas = 'meška' in sakinys

# atspausdina atsakymą
print(atsakymas)

False

## Užduotis 4.2

Atsakykite į klausimą naudodamiesi `boolean` operatoriumi - ar `Onutės` yra lygus `onutė`?

In [15]:
# nekeist kintamųjų verčių
vardas_1 = 'Onutė'
vardas_2 = 'onuTė'

# Jūsų atsakymas su boolean operatoriumi
vardas_1 == vardas_2

False

## Užduotis 5.1

Sukurkite 3 kintamuosius:

* `vardas`
* `pavarde`
* `sakinys`, šis kintamasis turi panaudoti auksčiau esančius kintamuosius.

Atspausdinkite `sakinys` kintamąjį tokio tipo:

`"Mano vardas X, o pavardė Y. Manolu susipažinti!"`, kur `X` ir `Y` turi būti panaudoti kintamieji `vardas` ir `pavarde`.

In [16]:
# vieta Jūsų kodui
X = "Jonas"
Y = "Jonaitis"
sakinys = f"Mano vardas {X}, o pavardė {Y}. Manolu susipažinti!"

print(sakinys)

Mano vardas Jonas, o pavardė Jonaitis. Manolu susipažinti!

## Užduotis 5.2

Atvaizduokite matematines funkcijas.

Atsakymo pavyzdys:

```
a = 15
b = -3.5

# vieta Jūsų kodui

print(sandauga)
>> a x b = -52.5 
print(dalyba)
>> a / b = -4.29 
```

In [17]:
# kintamieji (galite keisti)
a = 15
b = -3.5

# pirmas variantas

# pakeisti, kad atsapusdintų atsakymą a x b = atsakymas
sandauga = f"a x b = {a * b}"
# pakeisti, kad atsapusdintų atsakymą a / b = atsakymas
dalyba = f'a / b = {a / b}'

# atspaudinti atsakymus
print(sandauga)
print(dalyba)

a x b = -52.5
a / b = -4.285714285714286

In [18]:
# kintamieji (galite keisti)
a = 15
b = -3.5

# variantas 2, suapvalina rezultatą iki šimtųjų

# pakeisti, kad atsapusdintų atsakymą a x b = atsakymas
sandauga = f"a x b = {a * b:.2f}"
# pakeisti, kad atsapusdintų atsakymą a / b = atsakymas
dalyba = f'a / b = {a / b:.2f}'

# atspaudinti atsakymus
print(sandauga)
print(dalyba)

a x b = -52.50
a / b = -4.29

# **Pamoka 2**

# **Pamoka 3**

## Užduotis 1.1

Sukurti loginį testą, kuris atspausdintų atsakymą:

* `žaidėjas 1 rastas sąraše`
* `žaidėjas 2 nerastas sąraše`

In [19]:
# sąrašas žaidėjų, nekeisti
zaidejai = ["žaidėjas 1", "žaidėjas 3", "žaidėjas 5", "žaidėjas 1"]

# vieta Jūsų kodui
zaidejas = "žaidėjas 1"

if zaidejas in zaidejai:
  print(f"{zaidejas} rastas sąrašė")
else:
  print(f"{zaidejas} nerastas sąrašė")

žaidėjas 1 rastas sąrašė

## Užduotis 1.2

Pridėti logines sąlygas, kurios leistų atsakyti atsakytų gavusios:

`a = 1`, tuomet atspausdins:

* `Daugiau už -5`
* `Bet mažiau už 10`

`a = 15`, tuomet atspausdins:

* `Daugiau už -5`
* `Ir daugiau už 10`

`a = 10`, tuomet atspausdins:

* `Daugiau už -5`
* `Ir lygu 10`

`a = -2`, tuomet atspausdins:

* `Mažiau arba lygu už -5 ir daugiau arba lygu už -20`

`a = -25`, tuomet atspausdins:

* `Mažiau arba lygu -20`

In [20]:
# galima pakeisti kinamojo vertę
a = -20

# tarp print funcijų pridėti if else sąlygas
if a > -5:
  print("Daugiau už -5")
  if a < 10:
    print("Bet mažiau už 10")
  elif a > 10:
    print("Ir daugiau už 10")
  else:
    print('Ir lygu 10')
elif a >= -20:
  print("Mažiau arba lygu už -5 ir daugiau arba lygu už -20")
else:
  print("Mažiau už -20")

Mažiau arba lygu už -5 ir daugiau arba lygu už -20