<a href="https://colab.research.google.com/github/TK-Problem/Python-mokymai/blob/master/Python-pagrindai/atsakymai_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pamoka 1**

## Užduotis 2.1

Sukurti tekstinį kintamąjį Jūsų vardas ir pavardė

In [ ]:
# variantas 1
vardas = "Vardas"
pavarde = "Pavardė"

In [ ]:
# variantas 2
name = "Vardas Pavardė"

## Užduotis 2.2

Atspausdinti (nautoti print() funkciją) paskutinias 5 raides

In [ ]:
# atspausdinti šito kintamojo paskutinias 5 raides
txt = "ABCD 1234 EDCBA"

# variantas 1
txt = txt[-5:]
print(txt)

EDCBA

In [ ]:
# atspausdinti šito kintamojo paskutinias 5 raides
txt = "ABCD 1234 EDCBA"

# variantas 2
print(txt[-5:])

EDCBA

## Užduotis 2.3

Atspausdinti abu kintamuosius su `print()` funciją. Pirmas kintamasis turi būti tik iš mažųjų raidžių, o antras iš didžiųjų. Atsakymas:

`"petras PETRAITIS"`

In [ ]:
t_1 = 'pEtras'
t_2 = 'PETraTIs'

# variantas 1
print(t_1.lower(), t_2.upper())

petras PETRATIS

In [ ]:
t_1 = 'pEtras'
t_2 = 'PETraTIs'

# variantas 2
ans = t_1.lower() + " " + t_2.upper()
print(ans)

petras PETRATIS

## Užduotis 2.4

**(sudėtingesnė)** rasti internete metodą, kuris žodžių pirmas raides paverstų didžiosionis. Atsakymas turi būti toks:

`"Jonas Jonaitas"`

In [ ]:
txt = "JONAS jonaitis"
# variantas 1
print(txt.title())

Jonas Jonaitis

In [ ]:
txt = "JONAS jonaitis"
# variantas 2
print(txt[0] + txt[1:6].lower() + txt[6].upper() + txt[7:])

Jonas Jonaitis

## Užduotis 3.1

Lietuvoje 2021 buvo suskaičiuoti 2784279 gyventojai. Lietuvos plotas 65300 km^2.

Kiek gyventojų yra vienam kvadratiniame kilometre?

In [ ]:
# duomenys (nekeisti)
gyv_skaicius = 2784279
plotas = 65300

# įvesti savo formulę, vieta Jūsų kodui
tankis = gyv_skaicius / plotas

# suapvalinkite savo rezutaltą iki šimtųjų
tankis = round(tankis, 2)

# atspausdina atsakymą (šitos eilutės nekeisti)
print(f'Lietuvoje yra {tankis} žm./km^2')

Lietuvoje yra 42.64 žm./km^2

In [ ]:
# duomenys (nekeisti)
gyv_skaicius = 2784279
plotas = 65300

# variantas 2 tik trumpiau

# atspausdina atsakymą (šitos eilutės nekeisti)
print(f'Lietuvoje yra {round(gyv_skaicius / plotas, 2)} žm./km^2')

Lietuvoje yra 42.64 žm./km^2

## Užduotis 3.2

Autobuse telpa 87 žmonės. Tačiau važiuoti norinčių yra 93. Naudodami liekana, apskaičiuokite, kiek žmonių netilps?

In [ ]:
# pvz. ieškoti aukščiau
# vieta Jūsų kodui, su ALT + ENTER galite daugiau eilučių susikurti
ans = 93 % 87
ans

6

## Užduotis 3.3

Bėgimas truko 12345 sec. Kiek šis bėgimas truko minutėmis, valandomis ir dienomis? Atsakymus suapvalinkite iki dešimčių.

In [ ]:
begimo_trukme_sec = 12345

# vieta Jūsų kodui
begimo_trukme_minutemis = begimo_trukme_sec / 60
begimo_trukme_valandomis = begimo_trukme_minutemis / 60
begimo_trukme_dienomis = begimo_trukme_valandomis / 24

# suapvalinkite atsakimus iki 10-tųjų
begimo_trukme_minutemis = round(begimo_trukme_minutemis, 2)
begimo_trukme_valandomis = round(begimo_trukme_valandomis, 2)
begimo_trukme_dienomis = round(begimo_trukme_dienomis, 2)

# nekeisti žemiau esančio kodo
print('Bėgimas truko:')
print(f"{begimo_trukme_minutemis} minutes.")
print(f"{begimo_trukme_valandomis} valandas")
print(f"{begimo_trukme_dienomis} dienos")

Bėgimas truko:
205.75 minutes.
3.43 valandas
0.14 dienos

## Užduotis 4.1

Atsakykite su boolean operatoriumi į klausimą, ar sakinyje 'Meška paslydo' yra žmodis 'meška'?

In [ ]:
# nekeist kintamojo vertės
sakinys = "Meška paslydo"

# vieta Jūsų kodui
atsakymas = 'meška' in sakinys

# atspausdina atsakymą
print(atsakymas)

False

## Užduotis 4.2

Ar `Onutė`s vardas yra `onuTė`?

In [ ]:
# nekeist kintamųjų verčių
vardas_1 = 'Onutė'
vardas_2 = 'onuTė'

# Jūsų atsakymas su boolean operatoriumi
vardas_1 == vardas_2

False

## Užduotis 5.1

Sukurkite 3 kintauosius:

* `vardas`
* `pavarde`
* `sakinys`, šis kintamasis turi panaudoti auksčiau esančius kintamuosius.

Atspausdinkite `sakinys` kintamąjį tokio tipo:

`"Mano vardas X, o pavardė Y. Manolu susipažinti!"`, kur `X` ir `Y` turi būti panaudoti kintamieji `vardas` ir `pavarde`.

In [ ]:
# vieta Jūsų kodui
X = "Jonas"
Y = "Jonaitis"
sakinys = f"Mano vardas {X}, o pavardė {Y}. Manolu susipažinti!"

print(sakinys)

Mano vardas Jonas, o pavardė Jonaitis. Manolu susipažinti!

## Užduotis 5.2

Suformatuokite daugybos ir dalybos operacijas.

In [ ]:
# kintamieji (galite keisti)
a = 15
b = -3.5

# pakeisti, kad atsapusdintų atsakymą a x b = atsakymas
sandauga = f"a x b = {a * b}"
# pakeisti, kad atsapusdintų atsakymą a / b = atsakymas
dalyba = f'a x b = {a / b}'

# atspaudinti atsakymus
print(sandauga)
print(dalyba)

a x b = -52.5
a x b = -4.285714285714286

In [ ]:
# kintamieji (galite keisti)
a = 15
b = -3.5

# variantas 2, suapvalina rezultatą iki šimtųjų

# pakeisti, kad atsapusdintų atsakymą a x b = atsakymas
sandauga = f"a x b = {a * b:.2f}"
# pakeisti, kad atsapusdintų atsakymą a / b = atsakymas
dalyba = f'a x b = {a / b:.2f}'

# atspaudinti atsakymus
print(sandauga)
print(dalyba)

a x b = -52.50
a x b = -4.29

# **Pamoka 2**