<a href="https://colab.research.google.com/github/TK-Problem/Python-mokymai/blob/master/Python-pagrindai/pamoka_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pamoka 3**

Šioje pamokoje susipažinsime su ciklais ir loginėmis operacijosmis.

Loginį testą sudaro:

* `if` (būtinas),
* `elif` (neprivalomas),
* `else` (neprivalomas).

Yra 2 rūšių ciklai:

1. `for in`,
2. `while`.

# I. Loginiai testai

In [ ]:
# sukurti kintamąjį loginei sąlygai
x = 1

# paprasta loginė sąlyga
if x > 1:
  print(f"{x} daugiau už vieną.")
# jei mažiau, nieko neatspausdina

In [ ]:
# sukurti kintamąjį loginei sąlygai
x = 1

# paprasta loginė sąlyga su else
if x > 1:
  print(f"{x} daugiau už vieną.")
else:
  print(f"{x} mažiau arba lygu už vieną.")

1 mažiau arba lygu už vieną.

In [ ]:
# sukurti kintamąjį loginei sąlygai
x = 1

# paprasta loginė sąlyga su elif ir else
if x > 1:
  print(f"{x} daugiau už vieną.")
elif x == 1:
  print(f"{x} lygu vienam.")
else:
  print(f"{x} mažiau už vieną.")

1 lygu vienam.

In [ ]:
# tik su google colab, galimybė rašyti savo kinamąjį
x = "-2" #@param {type:"string"}

# paversti į integer
x = int(x)

# paprasta loginė sąlyga su else
if x > 1:
  print(f"{x} daugiau už vieną.")
elif x == 1:
  print(f"{x} lygu vienam.")
else:
  print(f"{x} mažiau už vieną.")

-2 mažiau už vieną.

In [ ]:
# patikrinti ar elementas sąraše
e = "Tomas"

if e in ["Jonas", "Petras"]:
  print(f"{e} rastas sąraše.")
else:
  print(f"{e} nerastas sąraše.")

Tomas nerastas sąraše.

In [ ]:
# galima sąlygas dėti po sąlygomis
x = 41

if x > 10:
  print("Daugiau už 10,")
  if x > 20:
    print("taip pat daugiau už 20!")
  else:
    print("bet mažiau už 20.")

Daugiau už 10,
taip pat daugiau už 20!

## Užduotys

## Užduotis 1.1

Sukurti loginį testą, kuris atspausdintų atsakymą:

* `žaidėjas 1 rastas sąraše`
* `žaidėjas 2 nerastas sąraše`

In [ ]:
# sąrašas žaidėjų, nekeisti
zaidejai = ["žaidėjas 1", "žaidėjas 3", "žaidėjas 5", "žaidėjas 1"]

# vieta Jūsų kodui

## Užduotis 1.2

Pridėti logines sąlygas, kurios leistų atsakyti atsakytų gavusios:

`a = 1`, tuomet atspausdins:

* `Daugiau už -5`
* `Bet mažiau už 10`

`a = 15`, tuomet atspausdins:

* `Daugiau už -5`
* `Ir daugiau už 10`

`a = 10`, tuomet atspausdins:

* `Daugiau už -5`
* `Ir lygu 10`

`a = -2`, tuomet atspausdins:

* `Mažiau arba lygu už -5 ir daugiau arba lygu už -20`

`a = -25`, tuomet atspausdins:

* `Mažiau arba lygu -20`

In [ ]:
# galima pakeisti kintamojo vertę
a = 1

# tarp print funcijų pridėti if else sąlygas
print("Daugiau už -5")
print("Bet mažiau už 10")
print("Ir daugiau už 10")
print("Ir lygu 10")
print("Mažiau arba lygu už -5 ir daugiau arba lygu už -20")
print("Mažiau arba lygu -20")

Daugiau už -5
Bet mažiau už 10
Ir daugiau už 10
Ir lygu 10
Mažiau arba lygu už -5 ir daugiau arba lygu už -20
Mažiau arba lygu -20

# II. `for in` ciklas

![alt text](https://www.edureka.co/blog/wp-content/uploads/2020/01/Blank-Diagram-10.png "Title")

In [ ]:
# sukurti sąrašą
vardai = ["Tomas", "Jonas", "Petras"]

# iteruoti per sąrašą
for vardas in vardai:
  print(vardas)

Tomas
Jonas
Petras

In [ ]:
# sukurti sąrašą
lst = ["vienas", "du", 3, True, (1, 2)]

# pasirenki laikiną kintamąjį išpakuoti elementams
for elementas in lst:
  print(elementas)

vienas
du
3
True
(1, 2)

In [ ]:
# sukurti string
zodis = "Jonaitis"

# iteruoti per string
for raide in zodis:
  print(raide)

J
o
n
a
i
t
i
s

In [ ]:
# sukurti sąrašą
vardai = ["Tomas", "Jonas", "Petras"]

# iteruoti per sąrašą
for vardas in vardai:
  # loginis testas
  if vardas[0] == 'J':
    print(f'Vardo {vardas} pirma raidė J.')
  else:
    print(f"Vardo {vardas} pirma raidė ne J.")

Vardo Tomas pirma raidė ne J.
Vardo Jonas pirma raidė J.
Vardo Petras pirma raidė ne J.

In [ ]:
# sukurti sąrašą
skaiciai = [1, 2, 3, 4, 5, 6]

# iteruoti per sąrašą
for skaicius in skaiciai:
  # logine seka
  if skaicius % 2 == 0:
    print(f'{skaicius} dalinasi iš 2')

2 dalinasi iš 2
4 dalinasi iš 2
6 dalinasi iš 2

In [ ]:
# sukurti sąrašą
vardai = ["Jonė", "Jonas", "Juozas", 'Tomas', 'Petras']
pirma_raide = 'J'

# logine sąlyga
# dėl .isalpha() žiūrėti dokumentaciją
# https://docs.python.org/3/library/stdtypes.html
if pirma_raide.isalpha() and len(pirma_raide) == 1:
  print(f'Grąžinti vardus, kurie prasideda iš {pirma_raide} raidės.')
  # iteruoti per sąrašą
  for vardas in vardai:
    if vardas[0] == pirma_raide:
      print(f'{vardas}')      
else:
    print('Neteisinga užklausa')

Grąžinti vardus, kurie prasideda iš J raidės.
Jonė
Jonas
Juozas

In [ ]:
# sukurti sąrašą
lst = [0, 1, 2, 3, 4, 5]

# pereiti per sąrašą
for e in lst:
  print(e)

0
1
2
3
4
5

## `range` metodas

In [ ]:
# eiti per range() generatorių
for e in range(6):
  print(e)

0
1
2
3
4
5

In [ ]:
# sukurti sąrašą
lst = [0, 1, 2, 3, 4, 5]

# supjaustyti atsakymą
print(lst[2:6])

# eiti per range() generatorių
for e in range(2, 6):
  print(e)

[2, 3, 4, 5]
2
3
4
5

## `continue` ir `break`

In [ ]:
# rasti skaičius, kurie dalinasi iš 3
for x in range(2, 10):
  if x % 3 == 0:
    print(f'{x} dalinasi iš 3')

3 dalinasi iš 3
6 dalinasi iš 3
9 dalinasi iš 3

In [ ]:
for x in range(2, 10):
  if x % 3 == 0:
    print(f'{x} dalinasi iš 3, nutraukti ciklą')
    break

3 dalinasi iš 3, nutraukti ciklą

In [ ]:
# continue ir break kartu
for x in range(2, 10):
  if x % 3 == 0:
    print(f'{x} dalinasi iš 3, tęsti ciklą')
    continue
        
  if x % 6 == 0:
    print(f'{x} dalinasi iš 3, nutraukti ciklą')
    break

3 dalinasi iš 3, tęsti ciklą
6 dalinasi iš 3, tęsti ciklą
9 dalinasi iš 3, tęsti ciklą

In [ ]:
# trys list pavyzdžiai
dienos = ['Pirmadienis', 'Antradienis', 'Trečiadienis']
laikai = ['Rytas', "Pietūs", 'Vakarienė']
vardai = ['Tomas', 'Jonas', 'Petras']

# pereiti per visus elementus
for diena in dienos:
    for laikas in laikai:
        for vardas in vardai:
            print([diena, laikas, vardas, 'Turi atlikti užduotį: '])

['Pirmadienis', 'Rytas', 'Tomas', 'Turi atlikti užduotį: ']
['Pirmadienis', 'Rytas', 'Jonas', 'Turi atlikti užduotį: ']
['Pirmadienis', 'Rytas', 'Petras', 'Turi atlikti užduotį: ']
['Pirmadienis', 'Pietūs', 'Tomas', 'Turi atlikti užduotį: ']
['Pirmadienis', 'Pietūs', 'Jonas', 'Turi atlikti užduotį: ']
['Pirmadienis', 'Pietūs', 'Petras', 'Turi atlikti užduotį: ']
['Pirmadienis', 'Vakarienė', 'Tomas', 'Turi atlikti užduotį: ']
['Pirmadienis', 'Vakarienė', 'Jonas', 'Turi atlikti užduotį: ']
['Pirmadienis', 'Vakarienė', 'Petras', 'Turi atlikti užduotį: ']
['Antradienis', 'Rytas', 'Tomas', 'Turi atlikti užduotį: ']
['Antradienis', 'Rytas', 'Jonas', 'Turi atlikti užduotį: ']
['Antradienis', 'Rytas', 'Petras', 'Turi atlikti užduotį: ']
['Antradienis', 'Pietūs', 'Tomas', 'Turi atlikti užduotį: ']
['Antradienis', 'Pietūs', 'Jonas', 'Turi atlikti užduotį: ']
['Antradienis', 'Pietūs', 'Petras', 'Turi atlikti užduotį: ']
['Antradienis', 'Vakarienė', 'Tomas', 'Turi atlikti užduotį: ']
['Antradienis', 'Vakarienė', 'Jonas', 'Turi atlikti užduotį: ']
['Antradienis', 'Vakarienė', 'Petras', 'Turi atlikti užduotį: ']
['Trečiadienis', 'Rytas', 'Tomas', 'Turi atlikti užduotį: ']
['Trečiadienis', 'Rytas', 'Jonas', 'Turi atlikti užduotį: ']
['Trečiadienis', 'Rytas', 'Petras', 'Turi atlikti užduotį: ']
['Trečiadienis', 'Pietūs', 'Tomas', 'Turi atlikti užduotį: ']
['Trečiadienis', 'Pietūs', 'Jonas', 'Turi atlikti užduotį: ']
['Trečiadienis', 'Pietūs', 'Petras', 'Turi atlikti užduotį: ']
['Trečiadienis', 'Vakarienė', 'Tomas', 'Turi atlikti užduotį: ']
['Trečiadienis', 'Vakarienė', 'Jonas', 'Turi atlikti užduotį: ']
['Trečiadienis', 'Vakarienė', 'Petras', 'Turi atlikti užduotį: ']

In [ ]:
# sukurti naują tuščią sąrašą
lst = []

# iteruoti per skaičius
for i in [1, 2, 3, 4]:
  lst.append(i)

# atspausdinti atsakymą
print(lst)

[1, 2, 3, 4]

In [ ]:
# sukurti naują tuščią sąrašą
lst = []

# iteruoti per skaičius
for i in [1, 2, 3, 4]:
  # pridėti loginę sąlygą
  if i % 2 == 0:
    lst.append(i)
    
# atspausdinti atsakymą
print(lst)

[2, 4]

## Užduotys

### Užduotis 2.1

Sukurkite naują sąrašą (`list`), kuriame būtų visos Jūsų vardo raidės.

In [ ]:
# atsakymo pvz.
print('Atsakymo pvz. lst = ["T", "o", "m", "a", "s"]')

# vieta Jūsų kodui

Atsakymo pvz. lst = ["T", "o", "m", "a", "s"]

### Užduotis 2.2

**(sunkesnė)** Sugeneruoti sąrašą `["žaidėjas 1", "žaidėjas 2", "žaidėjas 3", ..., "žaidėjas 12"]`

In [ ]:
# pradėti nuo tusčio sąrašo
ans = []

# vieta Jūsų kodui

# III. `while` ciklas

![alt text](https://www.tutorialspoint.com/python/images/loop_architecture.jpg "Title")

In [ ]:
i = 1
while i < 3:
    print(i)
    # tas pats, kas i = i + 1
    i += 1

1
2

In [ ]:
i = 1
while i <= 3:
    print(i)
    # tas pats, kas i = i + 1
    i += 1

1
2
3

In [ ]:
%%time
i = 1
while i < 100000000:
    i += 1

CPU times: user 11.8 s, sys: 31.6 ms, total: 11.8 s
Wall time: 12.3 s

In [ ]:
%%time
i = 1
while i < 100000000:
    print(i)
    if i == 5:
        print('nutrauk ciklą')
        break
    i += 1

1
2
3
4
5
nutrauk ciklą
CPU times: user 291 µs, sys: 6 µs, total: 297 µs
Wall time: 192 µs

In [ ]:
i = 0
while i < 10:
    i += 1
    if i%3 == 0:
        print('viskas gerai, tęsk')
        continue
    print(i)

1
2
viskas gerai, tęsk
4
5
viskas gerai, tęsk
7
8
viskas gerai, tęsk
10