<a href="https://colab.research.google.com/github/TK-Problem/Python-mokymai/blob/master/Python-pagrindai/pamoka_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pamoka 1**

Šioje pamokoje supažinu su pagrindinėmis [Python](https://www.python.org/) funcijomis, [Jupyter Notebook](https://jupyter.org/)/[Google colab](https://colab.research.google.com/) darbo aplinkomis bei primityviais kintamaisiais.

### **Programavimo aplinka**

Šis kodas yra parašytas `.ipynb` (interactive Python notebook) formatu. Yra daug skirtingų pragramų bei internetinių sprendimų, kurie gali paleisti `.ipynb` failus. Keletas pavyzdžių:

* [Anaconda](https://www.anaconda.com/products/distribution) - reikia lokaliai atsisiųsti ir įsirašyti ant savo kompiuterio. Ji automatiškai įrašo **Jupyter Notebook** bet taip pat galite per Anaconda Navigator įsirašyti **Jupyter Lab** (suteikia daugiau funkcionalumo).
* [Visual Studio Code](https://code.visualstudio.com/) - įsirašius loakliai į savo kompiuteri papildomai reiks atlikti papildomų [žingsnių](https://code.visualstudio.com/docs/datascience/jupyter-notebooks), kad leistų redaguoti `.ipynb` failus. 
* [Kaggle](https://www.kaggle.com/) - socialinis tinklas duomenų analitikams ir mokslininkas dalintis žiniomis, kodu (`.ipynb` formatu) bei dalyvauti įvairiuose konkursuose.
* [Datalore](https://datalore.jetbrains.com/) - yra nemokama ir mokama versija.
* [Google colab](https://colab.research.google.com/) - būtent šioje aplinkoje rekomenduoju leisti konspekto kodą.
* ir daug kitų variantų.

Pagrindinės sparčiosios kombinacijos (keybord shortcuts):

* `SHIFT` + `ENTER` paleisti kodo bloką nesukuriant naujo kodo bloko.
* `ALT` + `ENTER` paleisti kodo bloką sukuriant naują kodo bloką.
* `ALT` + `A` sucukurti kodo bloką auksčiau.
* `ALT` + `B` sucukurti kodo bloką žemiau.

Visos šios kombinacijos veikia daugelyje prgramų, kuriso dirba `.ipynb` failais. Google colab taip pat leidžia susikurti daugiau sparčiųjų kobinacijų `Tools -> Keyboard shortcuts` arba `CTRL` + `M` + `H`. Geriau standartinių neredaguoti, tačiau savo patogumui gali susikurti naujų kodo kombinacijų.

In [1]:
# paspausti SHIFT + ENTER pele pažymėją šį kodo bloką
import sys  # https://docs.python.org/3/library/sys.html

# pasižiūrėti, kurią Python versiją naudoja
# konspektas buvo parašytas su 3.7.15 versija
print('Python version:')
print(sys.version)

Python version:
3.8.16 (default, Dec  7 2022, 01:12:13)
[GCC 7.5.0]

# I. Pagrindinės funkcijos

## Kintamųjų atspausdinimas
Yra du būdai atvaizduoti kodo rezultatams: (i) funcija `print()` arba (ii) parašyti kintamojo pavadinimą. Sukuriame kintamąjį `kint`, kurio vertė yra "Vardas".

In [2]:
kintamasis = "Vardas"

In [3]:
# kintamąjį galime atspaudinti (i) būdų
print(kintamasis)

Vardas

In [4]:
# (ii) variantas
kintamasis

'Vardas'

Antrasis variantas atspausdins tik paskutinėje kodo eilutėje esanti kintamąjį. Tad jei reikia atspausdinti keletą kartų kintamąjį, reiktų naudotį (i) metodą.

In [5]:
# du kartus atspausdina kintamojo reikšmę
print(kintamasis)
print(kintamasis)

Vardas
Vardas

In [6]:
# atspausdina tik paskutinį kintamąjį
kintamasis
kintamasis

'Vardas'

Pateikiu du kodo pavyzdžius, kuomet sukūriami du skirtingi kintamieji su skirtingomis reikšmėmis. Abiem atvejais atspausdina tik paskutinio kintamojo reikšmę.

In [7]:
# sukurti kintamuosius
var_1 = "Pirmas"
var_2 = "Antras"

# grąžinti (atspausdinti) kintamuosius
var_1
var_2

'Antras'

In [8]:
# sukurti kintamuosius
var_1 = "Pirmas"
var_2 = "Antras"

# tas pats kaip auksčiau tik apkeičiau vietomis var_2 ir var_1
var_2
var_1

'Pirmas'

Jei norite, kad atspausdintų daugiau nei vieną kintamąjį, naudokite `print()` funkciją.

In [9]:
# sukurti kintamuosius
var_1 = "Pirmas"
var_2 = "Antras"

# atspausdinti abu kintamuosius
print(var_2)
print(var_1)

Antras
Pirmas

Kodo pavyzdžiai dažnu atveju bus trumpi, tad (ii) variantas bus sutinkamas dažniau nei (i). 

`print()` funkcija taip pat leidžia atspausdinti daugiau nei vieną kintamąjį per eilutę (automatiškai įdeda po tarpą tarp kintamųjų reikšmių).

In [10]:
# sukurti kintamuosius
var_1 = "Pirmas"
var_2 = "Antras"

# tas pats kaip auksčiau tik apkeičiau vietomis var_2 ir var_1
print(var_1, var_2)

Pirmas Antras

## Objekto tipas

Kinamjų tipų nereikia deklaruoti tiesiogiai, Python automatiškai atpažįsta, kad:

* jei prasideda `"` arba `'` tuomet bus simbolių eilutė/tekstas (string),
* jei skaičius be taško, tuomet bus sveikas (integer) skaičius,
* jei skaičius su tašku, tuomet racionalus (float),
* žodiai `True` arba `False` yra rezervuoti loginiams kintamiesiems.

Funcija `type()` leidžia pažiūrėti kintamojo tipą.

In [11]:
# sukurto kintamojo vertė tekstas
a = '1'
# atspausdinti kintamojo a vertę
type(a)

str

In [12]:
# tas pats, tik atspausdina kintamojo reikšmę bei tipą
a = '1'
print(a, type(a))

1 <class 'str'>

In [13]:
# sveikas skaičius
b = 1
print(b, type(b))

1 <class 'int'>

In [14]:
# racionalus skaičius
c = 1.0
print(c, type(c))

1.0 <class 'float'>

In [15]:
# loginis kintamasis
d = True
print(d, type(d))

True <class 'bool'>

## Kintamųjų pavadinimai

Kintamųjų pavadinimai gali būti kūriamis naudojanat:

* raides `abcd` ir t.t.,
* skaičus (negali kintamasis prasidėti skaičiumi),
* simbolis `_`.

Kintamieji dažniausiai rašomi iš mažosios raidės. Neleistini kintamųjų pavadinimai (išmestų klaidą):

* `1abc`,
* `abs/abc`,
* `pirmas.elementas`.

In [16]:
# kintamųjų pvadinimai turi būti intuityvūs
vardas = "Jonas"

In [17]:
# gali būti parašyti cammel
pirmasElementas = '1'

In [18]:
# galima naudoti skaičius, jei tai ne pirmas simbolis
kintamasis_1 = "Vienas"

In [19]:
# galima prad4ti kintamąjį rašyti su simboliu _ (tokie kintamieji pagal nutylėjimą laikomi privačiais)
_namo_numeris = "Pirmas"

# II. Simbolių eilutė (`stings`)

Tekstines vertes galima sukurti tiek su viengubomis `'` tiek su dvigubomis `kabutėmis`. Python tekstą koduoja UTF-8 formatu, tad galite tiesiai rašyti lietuviškais simboliais. **Bet pačio kintamojo negalima pavadinti naudojant lietuviškas raides!**

In [20]:
# sukurti kintamuosius
vardas = "Vardas"
pavarde = 'Pavardė'

# atspausdinti rezultatą
print(vardas, pavarde)

Vardas Pavardė

In [21]:
# kartais reikia naudoti skirtingas kabutes dėl citatų (tekste naudojamos '' arba "")

sakinys_1 = 'Yra sakoma "Kas nerizikuoja, negeria šampano"'
sakinys_2 = "Yra sakoma 'Kas nerizikuoja, negeria šampano'"

# priklausomai kokios kabutės panaudotos, skirtingai atspausdins tekstą
print('Variantas #1', sakinys_1)
print('Variantas #2', sakinys_2)

Variantas #1 Yra sakoma "Kas nerizikuoja, negeria šampano"
Variantas #2 Yra sakoma 'Kas nerizikuoja, negeria šampano'

Yra ilgas sąrašas metodų (funkcijų), kurios leidžia greitai apdoroti tekstinį kintamąjį. Pateikiu tris pavyzdžius:

* `.lower()` visi simboliai paverčiaimi mažosiomis raidėmis.
* `.upper()` visi simboliai didžiosiomis raidėmis.
* `.replace()` pakeisti tekstą kitu tekstu.

**Svarbu** atsiminti, kad ne visi metodai sukuria naują vertę, kai kurie modifikuoja vertę. Oficiali `string` objekto [dokumentacija](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str) bei trumpa visų metodų apžvalga [w3school](https://www.w3schools.com/python/python_ref_string.asp).

Dažniausiai `string` funkcijos/metodai grąžina naują kintamąjį, tad reikia nepamiršti parašyti lygybės ženklo.

In [22]:
# sukurti kintamąjį su sakiniu
var = "Vardas Pavarde 123"

# paversti mažosiomis raidėmis
var.lower()

'vardas pavarde 123'

In [23]:
# sukurti kintamąjį su sakiniu
var = "Vardas Pavarde 123"

# paversti mažosiomis raidėmis, tačiau mes neišsaugome kitnamojo
var.lower()

# grąžiname nemodifikuotą vertę
var

'Vardas Pavarde 123'

In [24]:
# sukurti kintamąjį su sakiniu
var = "Vardas Pavarde 123"

# paversti mažosiomis raidėmis ir išsauguti
var = var.lower()

# grąžiname modifikuotą vertę
var

'vardas pavarde 123'

In [25]:
# sukurti kintamąjį su sakiniu
var = "Vardas Pavarde 123"

# paversti didžiosiomis raidėmis ir išsauguti
var = var.upper()

# grąžiname modifikuotą vertę
var

'VARDAS PAVARDE 123'

In [26]:
# sukurti kintamąjį su sakiniu
var = "Vardas Vardenis vaidino 123"

# pakeisti visas V didžiasias raides į X
var = var.replace('V', 'X')

# grąžiname modifikuotą vertę
var

'Xardas Xardenis vaidino 123'

In [27]:
# sukurti kintamąjį su sakiniu
var = "Vardas Vardenis vaidino 123"

# pakeisti visas V mažasias raides į K didžiąją
var = var.replace('v', 'K')

# grąžiname modifikuotą vertę
var

'Vardas Vardenis Kaidino 123'

In [28]:
# sukurti kintamąjį su sakiniu
var = "Vardas Vardenis vaidino 123"

# pakeisti skaičių seką 123 į  XYZ
var = var.replace('123', 'XYZ')

# grąžiname modifikuotą vertę
var

'Vardas Vardenis vaidino XYZ'

In [29]:
# sukurti kintamąjį su sakiniu
var = "Vardas vardas"

# kintamasis prieš pakeitimą
print("Prieš pakeitimą:", var)

# pakeisti žodį "Vard" į nieką (tusčią simbolį)
var = var.replace('Vard', '')

# atspausdinti po pakeitimo
print("Po pakeitimo:", var)

Prieš pakeitimą: Vardas vardas
Po pakeitimo: as vardas

Teskto pjaustymas (angl. string slicing).
![Pjaustymo iliustracija](https://prepinsta.com/wp-content/uploads/2020/07/Slicing-in-python.webp "Pjaustymo iliustracija")

In [30]:
# tekstinio kintamojo pvz.
text = 'Sakinys Antras Zodis'

# pirmas elementas/simbolis
text[0]

'S'

In [31]:
# paskutinis elementas
text[-1]

's'

In [32]:
# pirmas zodis/ pirmi 7 simboliai
text[0:7]

'Sakinys'

In [33]:
# tas pat, tik nerašant nuo nulio
text[:7]

'Sakinys'

In [34]:
# antras zodis
text[8:14]

'Antras'

In [35]:
# tekstinio kintamojo pvz.
text = 'Vardenis Pavardenis'

# paiimti simbolius nuo galo (4 nuo galo)
text[-4:]

'enis'

In [36]:
# paiimti simbolius nuo 2 iki 2 nuo galo (neįskaitant)
text[2:-2]

'rdenis Pavarden'

### Užduotis 2.1

Sukurti tekstinį kintamąjį Jūsų vardas ir pavardė

In [37]:
# vieta Jūsų kodui

### Užduotis 2.2

Atspausdinti (nautoti print() funkciją) paskutinias 5 raides

In [38]:
# atspausdinti šito kintamojo paskutinias 5 raides
txt = "ABCD 1234 EDCBA"

# vieta Jūsų kodui

### Užduotis 2.3

Atspausdinti abu kintamuosius su `print()` funciją. Pirmas kintamasis turi būti tik iš mažųjų raidžių, o antras iš didžiųjų. Atsakymas:

`"petras PETRAITIS"`

In [39]:
t_1 = 'pEtras'
t_2 = 'PETraTIs'

# vieta Jūsų kodui

### Užduotis 2.4

**(sudėtingesnė)** rasti internete metodą, kuris žodžių pirmas raides paverstų didžiosionis. Atsakymas turi būti toks:

`"Jonas Jonaitas"`

In [40]:
txt = "JONAS jonaitis"
# vieta Jūsų kodui

# III. Skaičiai

Yra dviejų tipų skaičiai:

* sveikieji (int) - sukūriant juos nenaudoti taško,
* racionalūs (float) - sukūriant skaičių naudojam tašką.

In [41]:
# pvz. dviejų skirtingų tipų skaičių

var_1 = 1
var_2 = 1.0

print(f"Sveikas skaičius:", var_1)
print(f"Racionalus skaičius:", var_2)

Sveikas skaičius: 1
Racionalus skaičius: 1.0

## Sveikieji (`integers`)

In [42]:
# aritmetinės operacijos
var_1 = 1
var_2 = 7

# suma
var_1 + var_2

8

In [43]:
# aritmetinės operacijos
var_1 = 1
var_2 = 7

# atimtis
var_1 - var_2

-6

In [44]:
# aritmetinės operacijos
var_1 = 1
var_2 = 7

# daugyba
ans = var_1 * var_2
print(ans, type(ans))

7 <class 'int'>

In [45]:
# aritmetinės operacijos
var_1 = 10
var_2 = 2

# dalyba
ans = var_1 / var_2
print(ans, type(ans))

5.0 <class 'float'>

In [46]:
# aritmetinės operacijos
var_1 = 10
var_2 = 6

# liekana dalis
ans = var_1 % var_2
print(ans, type(ans))

4 <class 'int'>

In [47]:
# aritmetinės operacijos
var_1 = 10
var_2 = 6

# sveikoji dalis
ans = var_1 // var_2
print(ans, type(ans))

1 <class 'int'>

In [48]:
# aritmetinės operacijos
var_1 = 4
var_2 = 2

# kelimas laipsniu
ans = var_1 ** var_2
print(ans, type(ans))

16 <class 'int'>

In [49]:
# aritmetinės operacijos
var_1 = 4
var_2 = 1/2

# ištraukti šaknį
ans = var_1 ** var_2
print(ans, type)

2.0 <class 'type'>

## Racionalieji (`floats`)

In [50]:
# aritmetinės operacijos
var_1 = 1.5
var_2 = 5.37

# suma
var_1 + var_2

6.87

In [51]:
# aritmetinės operacijos
var_1 = 14.1
var_2 = 2.77

# atimtis
var_1 - var_2

11.33

In [52]:
# aritmetinės operacijos
var_1 = 11.1
var_2 = 0.5

# daugyba
ans = var_1 * var_2
print(ans, type(ans))

5.55 <class 'float'>

In [53]:
# aritmetinės operacijos
var_1 = 7.5
var_2 = 1.5

# dalyba
ans = var_1 / var_2
print(ans, type(ans))

5.0 <class 'float'>

In [54]:
# aritmetinės operacijos
var_1 = 2
var_2 = 2.5

# kelimas laipsniu
ans = var_1 ** var_2
print(ans, type(ans))

5.656854249492381 <class 'float'>

In [55]:
# apvalinti skaičių iki šimtųjų
round(123.123, 2)

123.12

In [56]:
# apvalinti skaičių iki dešimtųjų
round(123.123, 1)

123.1

## Užduotys

### Užduotis 3.1

Lietuvoje 2021 buvo suskaičiuoti 2784279 gyventojai. Lietuvos plotas 65300 km^2.

Kiek gyventojų yra vienam kvadratiniame kilometre?

In [57]:
# duomenys (nekeisti)
gyv_skaicius = 2784279
plotas = 65300

# įvesti savo formulę, vieta Jūsų kodui
tankis = 0

# suapvalinkite savo rezutaltą iki šimtųjų

# atspausdina atsakymą (šitos eilutės nekeisti)
print(f'Lietuvoje yra {tankis} žm./km^2')

Lietuvoje yra 0 žm./km^2

### Užduotis 3.2

Autobuse telpa 87 žmonės. Tačiau važiuoti norinčių yra 93. Naudodami liekana, apskaičiuokite, kiek žmonių netilps?

In [58]:
# pvz. ieškoti aukščiau
# vieta Jūsų kodui, su ALT + ENTER galite daugiau eilučių susikurti

### Užduotis 3.3

Bėgimas truko 12345 sec. Kiek šis bėgimas truko minutėmis, valandomis ir dienomis? Atsakymus suapvalinkite iki dešimčių.

In [59]:
begimo_trukme_sec = 12345

# vieta Jūsų kodui
begimo_trukme_minutemis = 0
begimo_trukme_valandomis = 0
begimo_trukme_dienomis = 0

# suapvalinkite atsakimus iki 10-tųjų

# nekeisti žemiau esančio kodo
print('Bėgimas truko:')
print(f"{begimo_trukme_minutemis} minutes.")
print(f"{begimo_trukme_valandomis} valandos")
print(f"{begimo_trukme_dienomis} dienos")

Bėgimas truko:
0 minutes.
0 valandos
0 dienos

# IV. Loginiai (`booleans`)

`Boolean` loginės sąlygos:

* `==` patikrinti ar lygu (vienodi),
* `!=` patikrinti ar nelygu (pvz. skirtingi kintamieji),
* `>` daugiau,
* `>=` daugiau arba lygu,
* `<` mažiau,
* `<=` mažiau arba lygu,
* `in` yra sąraše/masyve,
* `not in` nėra sąraše/masyve.

In [60]:
# ar 30 daugiau už 5
a = 30 > 5
print(a)

True

In [61]:
# ar žodis "Hello" yra sakinyje "Hello World!"
b = "Hello World!"
c = 'Hello' in b
print(c)

True

In [62]:
# lygybės pvz.
a = 2
b = 5
c = 2

print("a = b", a == b)
print("a = c", a == c)

a = b False
a = c True

In [63]:
# nelygybės pvz.
print(a != b)
print(a != c)

True
False

In [64]:
# daugiau/mažiau arba lygu
print(a >= b)
print(a <= c)

False
True

In [65]:
# daugiau/mažiau
print(a > b)
print(a < c)

False
False

### Užduotis 4.1

Atsakykite su boolean operatoriumi į klausimą, ar sakinyje 'Meška paslydo' yra žmodis 'meška'?

In [66]:
# nekeist kintamojo vertės
sakinys = "Meška paslydo"

# vieta Jūsų kodui
atsakymas = 0

# atspausdina atsakymą
print(atsakymas)

0

### Užduotis 4.2

Ar `Onutės` vardas yra `onutė`?

In [67]:
# nekeist kintamųjų verčių
vardas_1 = 'Onutė'
vardas_2 = 'onuTė'

# Jūsų atsakymas su boolean operatoriumi

# V. Kintamųjų atvaizdavimas

## Senovinis būdas

In [68]:
# deklaruoti du kintamuosius
skaicius = 861
tekstas = 'Vardas'

# senovinis atvaizdavimas
'Labas, %s' % tekstas

'Labas, Vardas'

In [69]:
# senovinis atvaizdavimas
print('Namo numeris: %s' % skaicius)

Namo numeris: 861

In [70]:
# senovinis atvaizdavimas (kaip skaičius)
print('Namo numeris: %f' % skaicius)

Namo numeris: 861.000000

In [71]:
# atvaizduoti abu kintamuosius
'Labas %s, tau skolingas %.2f eurus!' % (tekstas, skaicius)

'Labas Vardas, tau skolingas 861.00 eurus!'

In [72]:
# kaip auksčiau tik naudojant žodyną
'Labas %(tekstas)s, tau skolingas %(skaicius)f eurus!' % {"tekstas": tekstas, "skaicius": skaicius}

'Labas Vardas, tau skolingas 861.000000 eurus!'

## Dabartinis

In [73]:
# .format() metodas
vardas = "Jonai"
'Labas, {}!'.format(vardas)

'Labas, Jonai!'

In [74]:
# šiek tiek kitaip
vardas = "Jonai"
pasisveikinimas = 'Labas, {}!'.format(vardas)
print(pasisveikinimas)

Labas, Jonai!

In [75]:
# deklaruoti du kintamuosius
skaicius = 861
tekstas = 'Vardas'
# kaip auksčiau tik naudojant žodyną
'Labas {tekstas}, tau skolingas {skaicius} eurus!'.format(tekstas= tekstas, skaicius= skaicius)

'Labas Vardas, tau skolingas 861 eurus!'

In [76]:
# nenaudojant .format
vardas = "Jonai"
f'Sveikas, {vardas}!'

'Sveikas, Jonai!'

In [77]:
# matematinės operacijos
a = 5
b = 10
f'Penki plius dešimti yra {a + b}.'

'Penki plius dešimti yra 15.'

In [78]:
# tas pats tik kitaip
f"{a} - {b} = {a-b}"

'5 - 10 = -5'

In [79]:
# galima "sumuoti" tekstus
vardas = "Vardenis"
pavarde = "Pavardenis"
zinute = vardas + " " + pavarde

In [80]:
# skaičių apvalinimas po kablelio
skaicius = 1.2345

# suapvalinti iki 2 skaičių po kablelio
f"{skaicius:.2f}"

'1.23'

In [81]:
# riboti maksimalų simbolių skaičių
vardas = "Antanas"

print(f"Daugiausiai atvaizduojame 3 simbolius todėl {vardas} patampa {vardas:.3s}")

Daugiausiai atvaizduojame 3 simbolius todėl Antanas patampa Ant

## Užduotys

### Užduotis 5.1

Sukurkite 3 kintauosius:

* `vardas`
* `pavarde`
* `sakinys`, šis kintamasis turi panaudoti auksčiau esančius kintamuosius.

Atspausdinkite `sakinys` kintamąjį tokio tipo:

`"Mano vardas X, o pavardė Y. Manolu susipažinti!"`, kur `X` ir `Y` turi būti panaudoti kintamieji `vardas` ir `pavarde`.

In [82]:
# vieta Jūsų kodui

### Užduotis 5.2

Sufomatuokite daugybos ir dalybos operacijas.

In [83]:
# kintamieji (galite keisti)
a = 15
b = -3.5

# pakeisti, kad atsapusdintų atsakymą a x b = atsakymas
sandauga = ""
# pakeisti, kad atsapusdintų atsakymą a / b = atsakymas
dalyba = ''

# atspaudinti atsakymus
print(sandauga)
print(dalyba)